body{
    background-image: url(../images/footer_lodyas.png);
    margin: auto;
}
.header{
    background-color: whitesmoke;
    padding: 15px 0px 0px 0px;
    overflow: auto;

}
.header .content{
    margin: auto;
    width: 960px;
    margin-bottom: 0px;
    
}
.header .content ul li{
    list-style-type: none;
    float: right;
    margin: 0px 10px 20px 0px;
    font-family: Arial, Helvetica, sans-serif;
    color: gray;

}
h1{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #4aaaa5;
    color: white;
    float: left;
    padding: 10px 10px 5px 10px;
    margin: 5px 5px 0px 0px;
  
}
.middleSection{
    width: 960px;
    background-color: whitesmoke;
    margin: 15px auto 15px auto;
    overflow: auto;
}
h2{
    font-family: 'Raleway', sans-serif;
    color: #4aaaa5;
    padding: 15px;
    margin: 0px 10px 0px 10px;
}
.text{
    padding: 10px;
    float: left;
    overflow: auto;
    margin: 0px 10px 0px 10px;
    width: 730px;
    font-family: Arial, Helvetica, sans-serif;
    color: gray;
}
img{
    height: 150px;
    float: left;
    padding: 10px;
}
a:link{
    text-decoration: none;
    color: gray;
}
li a:hover{
    color: lightgray;
}
a:visited{
    color: darkgray;
}
.footer{
    margin-bottom: 0px;
    left: 0;
    bottom: 0;
    width: 100%;
    position: fixed;
    background-color: darkgray;
    color: white;
}
.footer p{
    width: 70px;
    margin: 10px auto 10px auto;
    font-family: 'Raleway', sans-serif;
}
.form{
    padding: 15px;
}
.name input{
    width: 95%;
    margin: 0;
    padding: 5px;
}
.name label{
    font-family: 'Raleway', sans-serif;
}
.email label{
    font-family: 'Raleway', sans-serif;
}
.email input{
    width: 95%;
    padding: 5px;
}
#msg{
    width: 95%;
    margin: 0;
    height: 250px;
    padding: 5px;
}
.message label{
    font-family: 'Raleway', sans-serif;
}
.submit{
    background: #4aaaa5;
    color: white;
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
    padding: 10px;
    float: left;
    margin: 10px 10px 10px 0px;
}
.submit:hover{
    background: #9ee5e1;
}
.column{
    width: 250px;
    margin: 30px;
    float: left;
}
.box{
    height: 250px;
    margin: auto;
}
.box #Hangman{
    position: relative;
    width: 100%;
}
.box p{
    position: absolute;
    margin: 200px 0px 0px 10px;
    background: #4aaaa5;
    padding: 15px;
    color: white;
    width: 220px;
    font-family: 'Raleway', sans-serif;
}
.port-pic{
    height: 250px;
    width: 250px;
}

